# --- Environment paths for the project ---
PARQUETS_PATH="dataset/parquets"

# --- Environment variables for the local database ---
LOCAL_HOST="localhost"
LOCAL_PORT="5432"
LOCAL_USER="your_username"
LOCAL_PASSWORD="your_password"
LOCAL_DB="database_name"
LOCAL_URL="path/to/local/database.db"

# --- Environment variables for the ACTUAL Render DB. Remember when setting up the url that the url on datagrip is different from the one on the .env file. ---
# --- In the whatsapp group the datagrip is the one that called "Link for Datagrip: (link)" while the one needed in this file is called "External Database URL: (link)" ---
RENDER_USER="render_username"
RENDER_PASSWORD="render_password"
RENDER_URL="url/to/render/database.db"
